<h2>Reactivos: Switches</h2>
<hr>


<form [formGroup]="mySwitchForm" (ngSubmit)="onSave()" autocomplete="off">

  <!-- Radio -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Gender</label>
    <div class="col-sm-9">

      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="M"
               formControlName="gender"
               id="radioMale">
        <label class="form-check-label" for="radioMale">
          Male
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input"
               type="radio"
               value="F"
               formControlName="gender"
               id="radioFemale">
        <label class="form-check-label" for="radioFemale">
          Female
        </label>
      </div>

    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label">Notifications</label>
    <div class="col-sm-9">

      <div class="form-check form-switch mt-2">
        <input class="form-check-input"
               type="checkbox"
               formControlName="wantNotifications"
               id="flexSwitchCheckChecked">
        <label class="form-check-label" for="flexSwitchCheckChecked">I want receive notifications</label>
      </div>

    </div>
  </div>

  <!-- Switches -->
  <div class="row mb-3">
    <label class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input class="form-check-input"
               type="checkbox"
               formControlName="termsAndConditions"
               id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Terms and Conditions
        </label>
      </div>
      <span *ngIf="isValidField('termsAndConditions')" class="form-text text-danger">
                 You must accept the terms and conditions
              </span>

    </div>
  </div>


  <!-- Button submit -->
  <div class="row">
    <div class="col">
      <button class="btn btn-primary float-end"
              type="submit">
        Save
      </button>
    </div>
  </div>

</form>


<h5>Value</h5>
<pre>{{ mySwitchForm.value | json }}</pre>
<br>

<h5>Person</h5>
<pre>{{ person | json }}</pre>
<br>

<h5>Valid</h5>
<pre>{{ mySwitchForm.valid | json }}</pre>

<h5>Terms</h5>
<pre>{{ mySwitchForm.controls['termsAndConditions'].errors | json }}</pre>
