<h2>Reactive: Basics</h2>
<hr>

<div class="row">
  <div class="col">

    <form [formGroup]="myBasicForm" (ngSubmit)="onSave()" autocomplete="off">

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Product</label>
        <div class="col-sm-9">

          <input type="text"
                 class="form-control"
                 formControlName="name"
                 placeholder="Product name">

          <span *ngIf="isValidField('name')" class="form-text text-danger">
                        {{getFieldError('name')}}
                    </span>
        </div>
      </div>

      <!-- Product field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Price</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="price"
                 placeholder="Product price">
          <span *ngIf="isValidField('price')" class="form-text text-danger">
                        The price must be 0 or higher.
                    </span>
        </div>
      </div>

      <!-- Stock field -->
      <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Stock</label>
        <div class="col-sm-9">
          <input type="number"
                 class="form-control"
                 formControlName="stock"
                 placeholder="Product stock">

          <span *ngIf="isValidField('stock')" class="form-text text-danger">
                         The price must be 0 or higher.
                    </span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button type="submit"
                  class="btn btn-primary float-end">
            Save
          </button>
        </div>
      </div>


    </form>

  </div>
</div>


<div class="row">
  <div class="col">

    <span>Valid</span>
    <pre>{{ myBasicForm.valid | json }}</pre>

    <span>Pristine</span>
    <pre>{{ myBasicForm.pristine | json }}</pre>

    <span>Touched</span>
    <pre>{{ myBasicForm.touched | json }}</pre>

    <span>Value</span>
    <pre>{{ myBasicForm.value | json }}</pre>

    <span>Price</span>
    <pre>{{ myBasicForm.controls['price'].errors | json }}</pre>

    <span>Product</span>
    <pre>{{ myBasicForm.controls['name'].errors | json }}</pre>

    <span>Stock</span>
    <pre>{{ myBasicForm.controls['stock'].errors | json }}</pre>
  </div>
</div>
