<h2>Reactive Validations</h2>
<hr>

<div class="row">
  <div class="col">

    <form [formGroup]="loginForm" (ngSubmit)="onSave()" autocomplete="off">

      <!-- Name -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="name"
                 placeholder="User firstname">

          <span *ngIf="isValidField('name')" class="form-text text-danger">
                        Must be in firstname and lastname format
                    </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email"
                 class="form-control"
                 formControlName="email"
                 placeholder="User email">
          <span *ngIf="isValidField('email')" class="form-text text-danger">
                        The email format is invalid
                    </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 formControlName="username"
                 placeholder="Username">
          <span *ngIf="isValidField('username')" class="form-text text-danger">
                         User name error
                    </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password"
                 formControlName="password"
                 class="form-control"
                 placeholder="Password de su cuenta">

          <span *ngIf="isValidField('password')" class="form-text text-danger">
                         The password must have more than 6 characters
                    </span>
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirm password</label>
        <div class="col-sm-9">
          <input type="password"
                 class="form-control"
                 formControlName="confirmedPassword"
                 placeholder="Confirm password">

          <span *ngIf="isValidField('confirmedPassword')" class="form-text text-danger">
                         The passwords must be equal
                    </span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end"
                  type="submit">
            Create
          </button>
        </div>
      </div>


    </form>
  </div>
</div>


<h4>Form Valid: {{loginForm.valid}} </h4>
<h4>Form Status: {{loginForm.status}} </h4>
<h4>Form Pending: {{loginForm.pending}}</h4>
<h4>Form errors</h4>
<pre>{{  loginForm.errors | json }}</pre>

<h5>Name errors</h5>
<pre>{{ loginForm.controls['name'].errors | json }}</pre>

<h5>Email errors</h5>
<pre>{{ loginForm.controls['email'].errors | json }}</pre>

<h5>Username errors</h5>
<pre>{{ loginForm.controls['username'].errors | json }}</pre>


<h5>Password errors</h5>
<pre>{{ loginForm.controls['password'].errors | json }}</pre>

<h5>Confirm password errors</h5>
<pre>{{ loginForm.controls['confirmedPassword'].errors | json }}</pre>
